.popup{
    border: 1px solid yellow;
    
}

/* .popup-inner{
    position: relative;
    padding: 20px;
    width: 50%;
    background-color: red;
}

.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
} */